[user]
    name = Eddie McConkie
    email = {{ .email }}
[core]
    editor = nvim
[init]
    defaultBranch = main
{{- if eq .environment "alpha-dev-server" -}}
[https]
    sslCAInfo = /home/emcconkie/.git/certificates/alphamountain.crt
[http]
    sslVerify = false
{{- end -}}
